include core/mixins

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include core/head
    body
        header
            .container

                span СИБИРСКОЕ УПРАВЛЕНИЕ ВНУТРИСКВАЖИННЫХ РАБОТ

        section.main.bg-1
            .container
                .mobile
                    .logo
                        img(src="/assets/images/logo.png")
                    .select-wrapper
                        label Место работы:
                        select
                            option(value="1") АО "РН-Няганьнефтегаз"
                            option(value="2") ООО "ННК-Сахалинморнефтегаз"
                .row
                    .col.active(id="tab-1")
                        .contacts-wrapper
                            .item
                                a(href="#").contact.phone.color +7 (3466) 123-456
                                span (прием звонков с 08:30-17:30)
                            a(href="#").contact.mail.color info@suvr.ru
                        h3 Заказчик:
                        h2 РН-Няганьнефтегаз
                        .text Место выполнения работ: Каменное нефтяное месторождение с.Каменное, Ханты-Мансийский Автономный округ-Югра
                        .text ОФИС по работе с кадрами и оформлению документов на работу (открытое обособленное пордразделение ООО "СУВР"): г.Нягань, 10мкр. д.15А Ханты-Мансийский Автономный округ-Югра
                        span Открыты вакансии:
                        .scrollbar-inner
                            .wrapper
                                a.item
                                    |Водители категории «Е».
                                    b З\п - 180 000 руб.
                                a.item
                                    | Водители категории «Е».
                                    b З\п - 180 000 руб.
                                a.item
                                    | Водители категории «Е».
                                    b З\п - 180 000 руб.
                                a.item
                                    | Водители категории «Е».
                                    b З\п - 180 000 руб.
                                a.item
                                    | Водители категории «Е».
                                    b З\п - 180 000 руб.
                                a.item
                                    | Водители категории «Е».
                                    b З\п - 180 000 руб.
                                a.item
                                    | Водители категории «Е».
                                    b З\п - 180 000 руб.
                    .col.white(id="tab-2")
                        .contacts-wrapper
                            .item
                                a(href="#").contact.phone.color +7 (3466) 123-456
                                span (прием звонков с 08:30-17:30)
                            a(href="#").contact.mail.color info@suvr.ru
                        h3 Заказчик:
                        h2 ООО "ННК-Сахалинморнефтегаз".
                        .text Место выполнения работ: Сахалинская группа нефтяных месторождений пгт.Ноглики, о. Сахалин, Сахалинская область
                        .text ОФИС по работе с кадрами и оформлению документов на работу (открытое обособленное пордразделение ООО "СУВР"):  пгт.Ноглики, ул. Мостовая д.2А о.Сахалин, Сахалинская область
                        span Открыты вакансии:
                        .scrollbar-inner
                            .wrapper
                                a.item
                                    | Водители категории «Е».
                                    b З\п - 180 000 руб.
                                a.item
                                    | Водители категории «Е».
                                    b З\п - 180 000 руб.
                                a.item
                                    | Водители категории «Е».
                                    b З\п - 180 000 руб.
                                a.item
                                    | Водители категории «Е».
                                    b З\п - 180 000 руб.
                                a.item
                                    | Водители категории «Е».
                                    b З\п - 180 000 руб.
                                a.item
                                    | Водители категории «Е».
                                    b З\п - 180 000 руб.
                                a.item
                                    | Водители категории «Е».
                                    b З\п - 180 000 руб.
        footer
            .container
                .text-sm Общество С Ограниченной Ответственностью "Сибирское Управление Внутрискважинных Работ"
                .contacts-wrapper
                    a(href="#").contact.phone +7 (3466) 123-456
                    a(href="#").contact.mail info@suvr.ru
                .copyright
                    |Copyright 2023 - все права защищены
                    br
                    |Копирование информаци без указания источника преследуется законом


        include core/scripts